body {
    background-color: rgb(2, 73, 33);
    background-image: url(images/backdrop.jfif);
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding:50px ;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #11230b;
    letter-spacing: 0.2em;
    font-size: x-large;
    position: sticky;

}

.content {
    width: 70%;
    margin: auto;
    background-color: rgb(17 , 35, 11);
    padding: 20px;

}

p {
    line-height: 35px;
    word-spacing: 5px;
    color: white;
}
img
{
    float: right;
}
#quote
{
    font-family: 'Pacifico', cursive;
    background-color: seashell;
    color: #000;
    padding: 30px;
    text-align: center;
    border: 15px solid #11230b;
}